body {
  background-color: #121259;
  color: #1a0656;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #1a0656;
  font-family: "Montserrat", sans-serif;
}

/* Header */
header {
  background-color: #03032f;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 24px;
  position: relative;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: #b8b8ec;
  font-family: "Montserrat", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  right: 50px;
  font-family: "Montserrat", sans-serif;
}

.nav-links li {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.nav-links a {
  color: #b8b8ec;
  font-family: "Montserrat", sans-serif;
}

/* Hero section */
#hero {
  position: relative;
  padding: 100px 20px 30px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-image: url("img/heromainbg3.jpg");
  background-size: 1250px;
  background-position: 50% -200%;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 1;
}

.hero-content p {
  position: relative;
  z-index: 1;
}

.cta-button {
  display: inline-block;
  background-color: #000033;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 2;
}

.cta-button:hover {
  background-color: #000066;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 2;
}

/* About section */
#about {
  padding: 20px;
  height: 650px;
  position: relative;
  background-image: url("img/aboutbg2.jpg");
  background-color: #b8b8ec;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

.section-heading h1 {
  position: absolute;
  left: 90px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 350px;
  font-size: 50px;
  font-family: "Source Code Pro", monospace;
}

.about-content {
  position: relative;
  top: 70px;
  display: flex;
  align-items: start;
  margin: 60px;
  color: #1a0656;
}

.about-text {
  position: absolute;
  top: 100px;
  left: 350px;
}

.section-heading img {
  position: absolute;
  top: 30px;
  left: -80px;
  height: 550px;
  width: 550px;
  border-radius: 50%;
}

/* Projects section */
#projects {
  background-color: #b8b8ec;
  padding: 100px 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

.section-heading {
  font-size: 25px;
  color: #1a0656;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  font-family: "Montserrat", sans-serif;
}

.project-card {
  background-color: #111;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.project-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.project-card button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.project-card button:hover {
  background-color: #707070;
}

/* Charity Section */
#non-coding-projects {
  background-color: #b8b8ec;
  padding: 10px 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

/* Contact section */
#contact {
  padding: 50px 20px;
  background-color: #b8b8ec;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

.contact-content form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}

.contact-content input,
.contact-content textarea {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.contact-content button {
  display: inline-block;
  background-color: #000033;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.contact-content button:hover {
  background-color: #000066;
  font-family: "Montserrat", sans-serif;
}

/* Footer */
footer {
  background-color: #b8b8ec;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: 4px solid #1a0656;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.footer-text {
  margin: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer-icon {
  margin-right: 5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer-text a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
