body {
  background-color: #121259;
  color: #1a0656;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
  line-height: 1.5;
  display: block;
}

a {
  text-decoration: none;
  color: #1a0656;
  font-family: "Montserrat", sans-serif;
}

/* Header */
header {
  background-color: #03032f;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 24px;
  position: relative;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: #b8b8ec;
  font-family: "Montserrat", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  right: 50px;
  font-family: "Montserrat", sans-serif;
}

.nav-links li {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.nav-links a {
  font-size: 20px;
  color: #b8b8ec;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #8585d9;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.nav-links a:hover::after {
  background-color: white;
  transform: scaleX(1);
}

/* Hero section */
#hero {
  position: relative;
  padding: 10px 20px 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-image: url("img/heromainbg.jpg");
  background-size: cover;
  border-radius: 30px;
  border: 4px solid #1a0656;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero-content p {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.name {
  background-color: #1a0656;
  color: white;
  padding: 0 5px;
  border-radius: 2px;
}

.name2 {
  background-color: rgba(0, 0, 0, 0.53);
  color: #ffffff;
  padding: 0 5px;
  border-radius: 4px;
}

.name3 {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 0 5px;
  padding-right: 0px;
  border-radius: 4px;
}

.cta-button {
  display: inline-block;
  background-color: #000033;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  transform-origin: center;
}

.cta-button {
  transition: transform 0.3s ease;
}

.cta-button:hover {
  background-color: #000066;
  font-family: "Montserrat", sans-serif;
  transform: scale(1.01);
}

/* About section */
#about {
  padding: 20px;
  height: 600px;
  background-image: url("img/aboutbg.jpg");
  background-color: #b8b8ec;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  border-radius: 30px;
  border: 4px solid #1a0656;
  display: flex;
}

.about-follow p{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size:20px;
  color: #1a0656;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  display: inline-block;
  width: auto;
}
.social-media-icons{
  padding-left: 10px;
  font-size: 25px;
  display: inline-block;
}

.social-media-icons i {
  transition: transform 0.3s ease;
}

.social-media-icons i:hover {
  transform: scale(1.2);
}

.about-follow a{
  padding: 1px;
}

.left-column {
  width: 70%;
  justify-content: center;
  align-items: center;

}

.right-column {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading-1{
  margin-top: 100px;
  padding-left: 10px;
  font-size: 40px;
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  white-space: nowrap;
  color: #1a0656;
  background-color: #ffffff;
  border-right: 2px solid #1a0656;
  animation: typing 5s steps(40,end) forwards;
  display: inline-block;
  width: auto;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    white-space: nowrap;
  }
  100% {
    width: 100%;
    white-space: normal;
  }
}



.about-content p {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-right: 60px;
  margin-top: 0;
  color: #1a0656;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 20px;
}

.section-img {
  margin-top: 60px;
  margin-right: 0;
  height: 450px;
  width: 450px;
}

/* Projects section */
#projects {
  background-color: #b8b8ec;
  height: 600px;
  padding: 50px 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  border: 4px solid #1a0656;
}

.section-heading {
  font-size: 25px;
  color: #1a0656;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  font-family: "Montserrat", sans-serif;
}

.project-card {
  background-color: #111;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.01);
}

.project-card button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.project-card button:hover {
  background-color: #cecef8;
  transform: scale(1.03);
}

/* Charity Section */
#non-coding-projects {
  background-color: #b8b8ec;
  height: 700px;
  padding: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  border: 4px solid #1a0656;
}

/* Contact section */
#contact {
  padding: 20px;
  max-width: 100%;
  background-color: #b8b8ec;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  border: 4px solid #1a0656;
}

.contact-content form {
  max-width: 100%;
  display: grid;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}

.contact-content input,
.contact-content textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.contact-content button {
  display: inline-block;
  background-color: #000033;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.contact-content button:hover {
  background-color: #000066;
  font-family: "Montserrat", sans-serif;
  transform: scale(1.01);
}

/* Footer */
footer {
  background-color: #0e0431;
  flex-direction: column;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  border: 4px solid #1a0656;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.footer-content p{
  font-size: 12px;
  margin-bottom: 1px;
  margin-top: -2px;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
